body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.discount {
  padding: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.33);
  margin-bottom: 10px;
}
.discount:last-child{
  margin-bottom: 72px;
}
.panelRight{
  overflow-y: scroll;
}